$bg: #e6ddd1;
$color-1: #edbd9b;
$color-2: #2a4f4f;
$color-3: #686230;
$color-4: #b8b799;
$color-5: #b1cac4;
$color-6: #f1e2d4;
$color-7: #8a4a27;

@font-face {
  font-family: Nevrada;
  src: url(../assets/fonts/Nevrada.otf);
}

@font-face {
  font-family: Sofia Pro;
  src: url(../assets/fonts/SofiaPro.otf);
  // font-weight: thin;
}

a,
button,
ul,
li,
input {
  text-decoration: none;
  outline: none;
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sofia Pro";
}

body {
  background: url("../assets/images/bg.jpg");
  font-size: 100%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.column {
  max-width: 1200px;
  float: left;
  padding: 1.5rem;

  &.left-side {
    width: 25%;
    height: 100vh;
  }

  &.middle {
    width: 50%;
  }

  &.right-side {
    width: 25%;
    height: 100vh;
  }

  @media screen and (max-width: 640px) {
    &.middle {
      width: 100%;
    }

    &.left-side,
    &.right-side {
      display: none;
    }
  }

  @media screen and (max-width: 1007px) and (min-width:641px) {
    &.middle {
      width: 70%;
    }

    &.left-side {
      width: 30%;
    }
    &.right-side {
      display: none;
    }
  }
}
