$bg: #e6ddd1;
$color-1: #edbd9b;
$color-2: #2a4f4f;
$color-3: #686230;
$color-4: #b8b799;
$color-5: #b1cac4;
$color-6: #f1e2d4;
$color-7: #8a4a27;

@font-face {
  font-family: Nevrada;
  src: url(../assets/fonts/Nevrada.otf);
}

@font-face {
  font-family: Sofia Pro;
  src: url(../assets/fonts/SofiaPro.otf);
  // font-weight: thin;
}

a,
button,
ul,
li,
input {
  text-decoration: none;
  outline: none;
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sofia Pro";
}

body {
  background: url("../assets/images/bg.jpg");
  font-size: 12px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.column {
  height: 100vh;
  max-width: 1200px;
  float: left;
  padding: 1.5rem;

  &.left-side {
    width: 25%;
    height: 100vh;
  }

  &.middle {
    width: 50%;
  }

  &.right-side {
    width: 25%;
    height: 100vh;
  }

  @media screen and (max-width: 640px) {
    &.middle {
      width: 100%;
    }

    &.left-side,
    &.right-side {
      display: none;
    }
  }

  @media screen and (max-width: 1007px) and (min-width: 641px) {
    &.middle {
      width: 70%;
    }

    &.left-side {
      width: 30%;
    }
    &.right-side {
      display: none;
    }
  }
}
.mobile-nav {
  @media screen and (min-width: 641px) {
    display: none;
  }
@media screen and (max-width: 641px) {
  display: flex;
  position: fixed;
  // width: 100%;
  left: 24px;
  right: 24px;
  top: 24px;
  gap: 0.75rem;
  li {
    flex: 1;
    padding: 4px;

    a {
      color: black;
      font-weight: bold;
      line-height: 32px;
    }

    &.home-icon {
      align-self: flex-start;

      img {
        width: 32px;
        height: 32px;
      }
    }
    &.switch {
      //  align-self: center;
      //  width: 42px;
      //  height: 24px;
      //  border-radius: 12px;
      //  background: $color-7;
    }
  }
}
}

.socials {
  position: fixed;
  display: flex;
  bottom: 24px;
  right: 24px;
  gap: 1rem;
  flex-direction: column;

  img {
    color: white;
    height: 24px;
    width: 24px;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
  }
}

#home {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 3em auto;

  .bottom-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 24px;
    padding: 0.75rem 1.25rem;
    border-radius: 4px;
    border: 2px solid $color-2;
    color: $color-2;
  }

  .mid-texts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);

    .name {
      font-family: "Nevrada", Arial, Helvetica, sans-serif;
      h1 {
        font-size: 5em;
        line-height: 1em;
        color: $color-3;
        font-family: "Nevrada", Arial, Helvetica, sans-serif;

        &:nth-child(2) {
          display: flex;

          &::after {
            // display: inline-block;
            position: absolute;
            top: 0%;
            z-index: -1;
            right: -15%;
            bottom: 60%;
            content: "";
            width: 100px;
            height: 100px;
            background: url("../assets/svgs/shape2.svg");
          }
        }
      }

      .proffession {
        position: absolute;
        bottom: -20%;
        letter-spacing: 0.2em;
        line-height: 2em;
        font-size: 0.9em;
        font-weight: bold;
      }
    }
  }
}

#about {
  width: 100%;
  margin-top: 52px;
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;

  h2 {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    font-weight: normal;
  }

  .bio {
    p {
      margin-bottom: 0.75rem;
    }
  }

  ul.about-list {
    flex-direction: column;
    padding: 1rem 0;

    li {
      margin: 1rem 0;
      display: flex;
      gap: 1em;

      img {
        width: 24px;
        height: 24px;
      }

      p {
        text-decoration: underline;
        text-transform: uppercase;
      }
    }
  }
}

.navigations {
  padding: 48px 24px;
  height: 100%;

  ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    li {
      text-align: center;
      a {
        font-size: 1.5rem;
        color: $color-2;

        &:hover {
          border-bottom: 2px solid $color-2;
          font-weight: bold;
        }
      }
      img {
        height: 2rem;
        cursor: pointer;
      }
    }
  }
}