$bg: #e6ddd1;
$color-1: #edbd9b;
$color-2: #2a4f4f;
$color-3: #686230;
$color-4: #b8b799;
$color-5: #b1cac4;
$color-6: #f1e2d4;
$color-7: #8a4a27;
$white: #ffffff;

.p-0 {
  padding: 0 !important;
}

a {
  color: inherit;
}

#admin {
  max-width: 1500px; /* This sets our total page width */
  display: flex;
  margin: auto;

  h2 {
    font-size: 1.25em;
  }

  header {
    position: fixed;
    width: 200px;
    height: 100vh;
    background: $color-7;

    #navigations {
      padding: 52px 0 12px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      ul {
        display: block;

        li {
          a {
            cursor: pointer;
            display: block;
            color: $bg;
            padding: 12px 24px;
            border-bottom: 2px solid transparent;

            &.active,
            &:active,
            &:hover {
              background: $color-1;
              border-bottom: 2px solid $color-2;
            }
          }
        }
      }
    }
  }

  .main-body {
    margin-left: 200px;
    padding: 0;

    .main-top {
      display: flex;
      justify-content: flex-end;
      gap:.5em;

      
    }

    .main-content {
    }
  }

  main {
    flex: auto;
    padding: 12px 24px;
    width: 100%;

    h1 {
      margin: 16px 0 12px;
    }

    a {
      display: inline-block;
      padding: 4px 12px;
      cursor: pointer;
      font-size: 0.9em;

      &.btn-outline {
        border-radius: 4px;
        border: 1px solid $color-7;
        background: transparent;
      }

      &.btn-arrow {
        &::after {

        }
      }
    }

    .flex-3 {
      width: 100%;
      display: flex;
      gap: 1em;
      flex-wrap: wrap;
      justify-content: flex-start;

      div {
        flex: 1 0 calc((100% / 3) - 2em);
        @media screen and (max-width: 1007px) and (min-width: 641px) {
          flex: 1 0 calc(50% - 1em);
        }
        @media screen and (max-width: 640px) {
          flex: 100%;
        }
      }
    }

    .flex-2 {
      width: 100%;
      display: flex;
      gap: 1em;
      flex-wrap: wrap;
      justify-content: flex-start;

      div {
        flex: 1 0 calc(50% - 1em);

        @media screen and (max-width: 640px) {
          flex: 100%;
        }
      }
    }

  }

  .data-card {
    width: 100%;
    background: $color-1;
    padding: 12px;
    border-radius: 4px;

    .data-card-header {
      display: flex;
      margin: 8px 0;
      justify-content: space-between;
      align-items: center;
    }

    .data-card-footer {
      display: flex;
      justify-content: center;
      margin: 8px 0;
    }

    table {
      border-collapse: collapse;
      width: 100%;
      th {
        background: $color-4;
      }
      td,
      th {
        padding: 0.5rem;
        text-align: left;
        max-width: 200px;
        text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
      }

      // td::first-letter {
      //   max-width: 0;
      //   // max-width: 50%;
      //   text-overflow: ellipsis;
      //   white-space: nowrap;
      //   overflow: hidden;
      // }
      tr {
        width: 100%;
        border-bottom: 1px solid $color-4;
      }
    }
  }

  .card {
    display: flex;
    // border: 1px solid $color-7;
    background: $color-1;
    color: $color-7;
    border-radius: 4px;
    overflow: hidden;
    padding: 12px;
    margin: 0;
    gap: 1em;

    &.bg-dark {
      background: $color-7;
      color: $white;
    }

    .card-icon {
      flex: 0 1 0;
    }

    .card-content {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      height: 100%;

      p {
        font-size: 0.9em;
      }

      .buttons {
        margin-top: auto;
        display: block;
        font-size: 0.85em;
      }
    }
  }

  #sidebar {
    float: left; /* This causes the sidebar to move to the left */
    width: 25%; /* We need to set the width whenever we float an element */
  }
}
