$bg: #e6ddd1;
$color-1: #edbd9b;
$color-2: #2a4f4f;
$color-3: #686230;
$color-4: #b8b799;
$color-5: #b1cac4;
$color-6: #f1e2d4;
$color-7: #8a4a27;

$color2-1: #7fd0d3;
$color2-2: #3a77a4;
$color2-3: #fffcf3;
$color2-4: #fff3ad;
$color2-5: #d8e0c9;

@font-face {
  font-family: Nevrada;
  src: url(./assets/fonts/Nevrada.otf);
}

@font-face {
  font-family: Sofia Pro;
  src: url(./assets/fonts/SofiaPro.otf);
}

a,
button,
ul,
li,
input {
  text-decoration: none;
  outline: none;
  list-style: none;
}

button:hover {
  background: $color-1;
  font-weight: bold;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sofia Pro";
}

body {
  // background: url("../assets/images/bg.jpg");
  background: $color2-3;
  font-size: 14px;
}

// .row {
//   max-width: 1200px;
// }

.row::after {
  content: "";
  display: table;
  clear: both;
}

.column {
  max-width: 1200px;
  float: left;
  padding: 0 1.5rem;

  &.left-side {
    position: fixed;
    width: 25%;
    height: 100vh;
  }

  &.main {
    float: right;
    width: 75%;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }

    &::after {
      content: "";
      display: table;
      clear: both;
    }

    .main-content {
      height: 100vh;
      float: left;
      // clear: both;
      width: 70%;
      padding: 1em 0;
      padding-right: 1.5em;
    }

    .main-side {
      height: 100vh;
      float: left;
      width: 30%;
    }

    .main-side-float {
      width: 30%;
    }
  }

  @media screen and (max-width: 640px) {
    &.main {
      padding-top: 72px;
      width: 100%;
      height: 100vh;

      .main-content {
        width: 100%;
        height: fit-content;
        padding: 0;
      }

      .main-side {
        // position: relative;
        width: 100%;
        height: fit-content;
      }
      .main-side-float {
        position: fixed;
        right: 0;
        width: fit-content;
      }
    }
    &.left-side {
      display: none;
    }
  }

  @media screen and (max-width: 1007px) and (min-width: 641px) {
    &.main {
      width: 70%;
      height: 100vh;

      .main-content {
        width: 100%;
        height: fit-content;
        padding: 0;
      }

      .main-side {
        width: 100%;
        height: fit-content;
      }

      .main-side-float {
        position: fixed;
        right: 0;
        width: fit-content;
      }
    }

    &.left-side {
      height: 100%;
      width: 30%;
    }
  }
}
.mobile-nav {
  @media screen and (min-width: 641px) {
    display: none;
  }
  @media screen and (max-width: 641px) {
    display: flex;
    position: fixed;
    // width: 100%;
    z-index: 10;
    left: 24px;
    right: 24px;
    top: 24px;
    gap: 0.75rem;
    li {
      flex: 1;
      padding: 4px;

      a {
        font-weight: bold;
        line-height: 32px;
        color: $color-2;
        transition: 0.2s;

        &:hover {
          border-bottom: 2px solid $color-2;
          font-weight: bold;
        }

        &.active {
          border-bottom: 2px solid $color-2;
          font-weight: bold;
        }
      }

      &.home-icon {
        align-self: flex-start;

        img {
          width: 32px;
          height: 32px;
          cursor: pointer;
        }
      }

      &.switch {
        //  align-self: center;
        //  width: 42px;
        //  height: 24px;
        //  border-radius: 12px;
        //  background: $color-7;
      }
    }
  }
}

.socials {
  position: fixed;
  display: flex;
  bottom: 24px;
  right: 24px;
  gap: 1rem;
  // width: 42px;
  flex-direction: column;

  a {
    flex: 1;

    img {
      color: white;
      height: 24px;
      width: 24px;
      line-height: 42px;
      cursor: pointer;
      transition: 0.2s;
      align-self: center;

      &:hover {
        transform: scale(1.25);
      }
    }
  }
}


  .mid-texts {
    .name {
      padding: 80px 0;
      text-align: center;
      font-family: "Nevrada", Arial, Helvetica, sans-serif;
      h1 {
        font-size: 5em;
        line-height: 1em;
        color: $color-3;
        font-family: "Nevrada", Arial, Helvetica, sans-serif;
      }

      .proffession {
        margin: auto;
        width: fit-content;
        text-align: justify;
        letter-spacing: 0.2em;
        line-height: 2em;
        font-size: 0.9em;
        font-weight: bold;
      }
    }
  }


#about {
  @media screen and (max-width: 640px) {
    // padding-top: 60px;
  }
  width: 100%;
  height: 100%;
  // padding-top: 48px;
  font-size: 0.9rem;

  h2 {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    font-weight: normal;
    letter-spacing: 0.1em;
  }

  .bio {
    p {
      margin-bottom: 0.75rem;
      text-align: justify;
    }
  }

  ul.about-list {
    flex-direction: column;
    padding: 1rem 0;

    li {
      margin: 1rem 0;
      display: flex;
      gap: 1em;

      img {
        width: 24px;
        height: 24px;
      }

      p {
        text-decoration: underline;
        text-transform: uppercase;
      }
    }
  }
}

#contact {
  width: 100%;
  height: 100%;

  h2 {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    font-weight: normal;
  }

  p {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  form {
    margin: 1em 0;
    input,
    textarea {
      display: block;
      width: 100%;
      padding: 0.75rem 1rem;
      margin: 1em 0;
      outline: none;
      border: 1px solid $color-2;
      border-radius: 4px;
    }

    button {
      padding: 0.75rem 1rem;
      outline: none;
      border: 1px solid $color-2;
      border-radius: 4px;
      color: $color-2;
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s;
    }

    .message {
      margin: 1em 0;

      input {
        border-radius: 4px 4px 0 0;
        margin: 0;
      }

      textarea {
        border-top: none;
        border-radius: 0 0 4px 4px;
        margin: 0;
        resize: none;
      }
    }
  }
}

#others {
  @media screen and (max-width: 640px) {
    padding-top: 60px;
  }
  width: 100%;
  height: 100%;
  padding-top: 48px;
  font-size: 0.9rem;

  .language-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;

    .language {
      width: 50%;
      margin: 2rem 0;

      &:first-child {
        width: 100%;
      }

      div {
        margin: auto;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        border: 6px solid $color-2;
        line-height: 7rem;
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
      }

      p {
        text-align: center;
        margin: 0.5rem 0;

        &:first-child {
          font-weight: bold;
        }
      }
    }
  }
}

.navigations {
  padding: 48px 24px;
  height: 100%;

  ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    li {
      text-align: center;
      a {
        font-size: 1.5rem;
        color: $color-2;
        transition: 0.2s;

        &:hover {
          border-bottom: 2px solid $color-2;
          font-weight: bold;
        }

        &.active {
          border-bottom: 2px solid $color-2;
          font-weight: bold;
        }
      }
      img {
        height: 2rem;
        cursor: pointer;
      }
    }
  }
}

.titles {
  margin-top: 72px;
  a {
    display: block;
    text-align: right;
    margin: 1em 0;
    transition: 0.2s;
    color: $color-2;

    &::after {
      content: " -";
    }

    &:hover {
      font-weight: bold;
      letter-spacing: 0.1em;
    }

    &:active {
      font-weight: bold;
      letter-spacing: 0.1em;
    }

    &.active {
      font-weight: bold;
      letter-spacing: 0.1em;
    }
  }
}

.resume-container {
  display: flex;
  flex-direction: column;
  gap: 1em;

  button {
    width: 50%;
    margin: auto;
    padding: 0.75rem 1rem;
    border-radius: 4px;
    outline: none;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: $color-1;
      font-weight: bold;
    }
  }
}

.interest-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
}

.interest {
  width: 50%;
  margin: 2rem 0;
  text-align: center;

  &:first-child {
    width: 100%;
  }

  img {
    height: 52px;
  }

  p {
    margin: 0.5rem 0;
    font-weight: bold;
  }
}

.education-container {
  display: flex;
  flex-direction: column;

  li {
    margin: 0.5em 0;
    line-height: 2em;
  }
}

.experience-container {
  display: flex;
  flex-direction: column;

  li {
    margin: 0.5em 0;
    line-height: 2em;
  }
}

.container {
  margin: 1em 0;
  // font-size: 0.9em;
}

#mySkills {
  height: 100%;
  padding: 0;
  margin: 0;

  .skill-item {
    line-height: 1.5rem;
    margin: 1em 0;

    h3 {
      font-weight: bold;
      margin-top: 0.5rem;
    }

    ul {
      margin: 0 0.5rem;

      li {
        &::before {
          content: "- ";
        }
      }
    }
  }
}
.other-section {
  transition: opacity 0.3s; /* Transition should take 0.3s */

  -webkit-transition: opacity 0.3s; /* Transition should take 0.3s */
  opacity: 1;
}

// Articles style starts here

#articles {
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  .articles-container {
    .article {
      font-size: 1rem;
      margin: 1em 0;

      .title {
        font-size: 1.25em;
        color: $color-2;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }

        &:active {
          text-decoration: underline;
        }
      }

      .timestamp {
        margin: 0.5em 0;
        font-size: 0.9em;
        color: $color-3;
      }

      .article-content {
        margin: 0.5em 0;
        line-height: 1.2em;
        text-align: justify;
      }

      .read-more {
        color: $color-7;
        font-size: 0.9em;
      }

      hr {
        border: 1px solid $color-2;
        margin: 0.5em 0;
      }

      .author {
        display: flex;
        gap: 1em;
        justify-content: center;
        align-content: center;

        .avatar {
          display: flex;

          img {
            align-self: center;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            border: 1px solid $color-2;
          }
        }

        .author-details {
          flex: auto;

          .author-name {
            font-size: 1.1rem;
            font-weight: bold;
            color: $color-7;

            &::after {
              content: "Author";
              background: $color-2;
              border-radius: 4px;
              color: $bg;
              font-size: 0.75rem;
              margin-bottom: 0.25em;
              margin-left: 0.25em;
              padding: 2px 8px;
            }
          }
          .author-proffesion {
            font-size: 0.8em;
            color: $color-2;
          }
          .author-socials {
            display: flex;
            gap: 0.75em;

            a {
              margin: 0.2em 0;
              height: 1em;
              width: 1em;

              img {
                height: 100%;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
.main-side {
  h1 {
    font-weight: bold;
    font-size: 2em;
    margin: 0.5em 0;
  }
}
// tags styles start here
.tag-container {
  .tags {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;

    a {
      display: block;
      color: $color-2;
      padding: 0.25em 0.5em;
      border: 1px solid $color-3;

      &:hover {
        color: $bg;
        background: $color-3;
      }
    }
  }
}

.copyright {
  margin: 1em 0;
}

.latest-post {
  a {
    font-size: 1.2em;
    color: $color-2;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    li {
      margin: 4px 0;
    }
  }
}

/* Loader Styles start here */
.loader-wrapper {
  --line-width: 5px;
  --curtain-color: #f1faee;
  --outer-line-color: #a8dadc;
  --middle-line-color: #457b9d;
  --inner-line-color: #1d3557;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.loader {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  /*   transform: translate(-50%, -50%); */
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: var(--line-width) solid transparent;
  border-top-color: $color-4;
  border-radius: 100%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 1001;
}

.loader:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border: var(--line-width) solid transparent;
  border-top-color: $color-2;
  border-radius: 100%;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

.loader:after {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;
  right: 14px;
  bottom: 14px;
  border: var(--line-width) solid transparent;
  border-top-color: $color-3;
  border-radius: 100%;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  background: $color-1;
  width: 51%;
  height: 100%;
  z-index: 1000;
}

.loader-wrapper .loader-section.section-left {
  left: 0;
}
.loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded Styles */
.loaded .loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded .loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded .loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.loaded .loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s 1s ease-out;
}


@import 'admin';